@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
    here we make a loop on our model which has the Deliveries 
    list and show the all the data on our table 
-->

<div class="text-center">
    <h1 class="display-4 m-5">لیست سفرها</h1>

    <table class="table table-responsive table-bordered table-striped" dir="rtl">
        <thead>
            <tr>
                <td>مقصد</td>
                <td>هزینه</td>
                <td>تاریخ</td>
                <td>وضعیت پرداخت</td>
                <td>عملیات</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Deliveries)
            {
                <tr>
                    <th>@item.Destination</th>
                    <th>@item.Price</th>
                    <th>@item.PersianDeliveryTime</th>
                    <th>@item.IsPaid</th>
                    <th><a asp-page="./EditDestination" asp-route-id="Id">ویرایش</a></th>
                </tr>
            }

        </tbody>
    </table>


</div>